<h1 *ngIf="(isBusy$ | async) === false">Már be is töltöttek a lófaszok!</h1>
<h1 *ngIf="isBusy$ | async">Most töltenek a lófaszok!</h1>

<h2>Lófaszok horizontálisan!</h2>

<ul style="list-style-type: none">
  <li
    *ngFor="let lofasz of lofaszok$ | async"
    style="float: left; display: block; margin: 16px">
    <a
      [class.selected-lofasz-class]="(selectedLofaszId$ | async) === lofasz.id"
      (click)="handleClick(lofasz)"
      href="#"
      >{{ lofasz.name }}</a
    >
  </li>
</ul>

<p style="clear: both"></p>
